* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, rgb(214, 199, 185), rgb(0, 128, 107));
}

.expire {
  font-size: 2.167rem;
  color: red;
  font-weight: 600;
}
